.listpages,
.listcategories,
.featureditem,
.relatedpages,
.related-products {
  font-size: 0;
}
.listpages li,
.listcategories li,
.featureditem li,
.relatedpages li,
.related-products li {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
}
@media only screen and (min-width: 800px) {
  .main_menu {
    position: relative;
    z-index: 11;
    font-family: "Roboto Condensed", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
    text-transform: uppercase;
    background: #2f2f2f;
    color: #FFF;
  }
  .line-footer-wrap-flat .main_menu {
    background-color: transparent;
    text-transform: none;
  }
  .line-footer-wrap-flat .main_menu > li a {
    color: #888888;
  }
  .line-footer-wrap-flat .main_menu > li a:hover {
    color: #00b0ee;
  }
  .line-footer-wrap-flat .main_menu > li + li {
    margin-left: 0.85em;
  }
  .main_menu > li {
    border-top: 2px solid transparent;
    float: left;
    position: relative;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
  }
  .main_menu > li + li {
    margin-left: 1.85em;
  }
  .main_menu > li.category-current:not(:first-child) {
    border-bottom-color: #00b0ee;
  }
  .main_menu > li:hover,
  .main_menu a.current {
    background: transparent;
    color: #00b0ee;
  }
  .main_menu > li:hover ul {
    display: block;
  }
  .main_menu a {
    display: block;
    padding: 1.65em 1em;
    text-decoration: none;
    color: inherit;
  }
  .main_menu ul {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 0;
    display: none;
    width: 300px;
    background: #FFF;
    color: #888888;
    box-shadow: 0 3px 5px #555555;
  }
  .main_menu ul li {
    float: none;
  }
  .main_menu ul li:hover,
  .main_menu ul li a.current {
    background: #eeeeee;
  }
}
.static_menu {
  overflow: hidden;
}
.static_menu li {
  float: left;
  padding: 0 8px;
}
.static_menu li + li {
  border-left: 1px solid #888888;
}
.featureapage,
.featureditem li,
.relatedpages li {
  margin-bottom: 30px;
  margin-left: 2%;
  margin-right: 0;
  width: 32%;
}
.featureapage:nth-of-type(3n + 1),
.featureditem li:nth-of-type(3n + 1),
.relatedpages li:nth-of-type(3n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .featureapage,
  .featureditem li,
  .relatedpages li {
    width: 49%;
  }
  .featureapage:nth-of-type(n),
  .featureditem li:nth-of-type(n),
  .relatedpages li:nth-of-type(n) {
    margin-left: 2%;
  }
  .featureapage:nth-of-type(2n + 1),
  .featureditem li:nth-of-type(2n + 1),
  .relatedpages li:nth-of-type(2n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .featureapage,
  .featureditem li,
  .relatedpages li {
    width: 100%;
  }
  .featureapage:nth-of-type(1n + 1),
  .featureditem li:nth-of-type(1n + 1),
  .relatedpages li:nth-of-type(1n + 1) {
    margin-left: 0;
  }
}
.featureapage .page-teaser-image,
.featureditem li .page-teaser-image,
.relatedpages li .page-teaser-image {
  overflow: hidden;
  margin-bottom: 0.5em;
}
.line-main-moments .featureditem li {
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
  width: 21%;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .line-main-moments .featureditem li {
    width: 46%;
  }
}
@media only screen and (max-width: 480px) {
  .line-main-moments .featureditem li {
    width: 96%;
  }
}
.line-main-moments .featureditem li:hover .page-title {
  color: #00b0ee;
}
.line-main-moments .featureditem li:hover img {
  border-color: #00b0ee;
}
.line-main-moments .featureditem .page-teaser-image {
  margin: auto;
  width: 300px;
  max-width: 100%;
  border-radius: 50%;
  position: relative;
  padding: 2em;
}
.line-main-moments .featureditem .page-teaser-image::before {
  position: absolute;
  content: "";
  padding: 20px;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 8px solid;
  border-color: transparent transparent transparent #555555;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.line-main-moments .featureditem .page-teaser-image img {
  border-radius: 50%;
  border: 6px solid #FFF;
}
.line-main-moments .featureditem .page-title {
  display: inline-block;
  color: #222222;
  transition: color 0.2s ease;
  font-size: 1.75em;
}
.line-main-moments .featureditem .page-title:hover {
  color: #00b0ee;
}
.block-aside-moments .featureditem li {
  margin: 0 -30px;
  padding: 40px 30px;
  width: auto;
  border-bottom: 1px solid #e6e6e6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.block-aside-moments .featureditem li:hover .page-title {
  color: #00b0ee;
}
.block-aside-moments .featureditem li:hover img {
  border-color: #00b0ee;
}
.block-aside-moments .featureditem .page-teaser-image {
  display: block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 6px solid #FFF;
  position: relative;
  overflow: visible;
  margin-right: 3%;
  margin-bottom: 0;
}
.block-aside-moments .featureditem .page-teaser-image::before {
  position: absolute;
  content: "";
  padding: 20px;
  display: block;
  top: -20px;
  right: 0;
  bottom: 0;
  left: -20px;
  border-radius: 50%;
  border: 4px solid;
  border-color: transparent transparent transparent #555555;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.block-aside-moments .featureditem .page-teaser-image img {
  border-radius: 50%;
}
.block-aside-moments .featureditem .page-title {
  display: inline-block;
  color: #222222;
  transition: color 0.2s ease;
  font-size: 1.75em;
}
.block-aside-moments .featureditem .page-title:hover {
  color: #00b0ee;
}
.featureapage {
  float: left;
}
.listpages li,
.listcategories li {
  margin-bottom: 30px;
}
.listpages .page-teaser-image,
.listcategories .page-teaser-image {
  float: left;
  margin-right: 3%;
  width: 150px;
  overflow: hidden;
}
aside .listpages li,
aside .listcategories li,
aside .featureditem li,
aside .featureapage,
aside .relatedpages li {
  width: 100%;
  margin: 0 0 2em;
}
aside .listpages li .page-teaser-image,
aside .listcategories li .page-teaser-image,
aside .featureditem li .page-teaser-image,
aside .featureapage .page-teaser-image,
aside .relatedpages li .page-teaser-image {
  width: 100%;
  float: none;
  margin: 0 0 0.5em;
}
aside .listpages li span,
aside .listcategories li span,
aside .featureditem li span,
aside .featureapage span,
aside .relatedpages li span,
aside .listpages li p,
aside .listcategories li p,
aside .featureditem li p,
aside .featureapage p,
aside .relatedpages li p {
  font-size: 0.85em;
  line-height: 1.25;
}
.news-item .newslog-admin-actions {
  text-align: right;
}
.news-item .news-item-tags a {
  color: #888888;
}
.news-item .news-item-tags a:hover {
  color: #3c3c3c;
}
.news-item .news-item-tags a + a {
  margin-left: 0.5em;
}
.news-item .news-item-tags a::before {
  color: #888888;
  margin-right: 0.5em;
}
.news-item .newslog-tag-filter::before {
  font-family: flexkit-icons;
  content: "\e023";
}
.block-news-list .news-item:not(.three) {
  margin-left: 1%;
  margin-right: 1%;
  width: 23%;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .block-news-list .news-item:not(.three) {
    width: 48%;
  }
}
@media only screen and (max-width: 480px) {
  .block-news-list .news-item:not(.three) {
    width: 98%;
  }
}
.block-news-list .news-item .news-item-image {
  display: block;
  margin: 0;
}
.block-news-list .news-item .news-item-image img {
  width: 100%;
}
.block-news-list .news-item .news-item-date {
  display: block;
  margin: 15px 0 5px;
  color: #bbbbbb;
}
.block-news-list .news-item .news-item-title {
  font-size: 1.15em;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #222222;
  font-weight: bold;
}
.block-news-list .news-item .news-item-title:hover {
  color: #00b0ee;
}
.block-news-list .news-item .news-item-description {
  color: #888888;
  height: 110px;
  overflow: hidden;
}
.block-news-list .news-item .news-tags {
  font-size: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 0 10px;
}
.block-news-list .news-item .news-tags a {
  font-size: 12px;
  display: inline-block;
  padding: 4px 12px;
  background-color: #f2f2f2;
  border: 1px solid #e6e6e6;
  color: #555555;
  margin-right: 3px;
  text-decoration: none;
  border-radius: 3px;
}
.block-news-list .news-item .news-tags a:hover {
  color: #00b0ee;
}
.block-news-list .news-item .news-tags a::before {
  content: none;
}
.block-news-list .news-item.three {
  margin-left: 1%;
  margin-right: 1%;
  width: 31.33333333%;
  margin-bottom: 40px;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .block-news-list .news-item.three {
    width: 48%;
  }
}
@media only screen and (max-width: 480px) {
  .block-news-list .news-item.three {
    width: 98%;
  }
}
.block-news-list .news-item.three .news-item-image {
  height: 14vw;
  min-height: 10vw;
  overflow: hidden;
}
.block-latest-news .news-item {
  overflow: hidden;
  padding: 2em 0;
  border-bottom: 1px solid #e6e6e6;
}
.block-latest-news .news-item .news-item-image {
  display: block;
  width: 40%;
  float: left;
  margin: 0 2% 0 0;
}
.block-latest-news .news-item .news-item-image img {
  width: 100%;
}
.block-latest-news .news-item .news-item-date {
  display: block;
  margin: 10px 0 0;
  color: #bbbbbb;
}
.block-latest-news .news-item .news-item-title {
  font-size: 1.05em;
  text-decoration: none;
  display: block;
  color: #222222;
  font-weight: bold;
  max-height: 75px;
  overflow: hidden;
  line-height: 1.45em;
}
.block-latest-news .news-item .news-item-title:hover {
  color: #00b0ee;
}
.block-latest-news._first-big-img .news-item:first-of-type .news-item-image {
  display: block;
  width: 100%;
  float: none;
  margin: 0 0 2% 0;
}
.block-latest-news._first-big-img .news-item:first-of-type .news-item-image img {
  width: 100%;
}
.template-one-news .news-date {
  padding: 5px 0;
  color: #bbbbbb;
  display: block;
}
.template-one-news .news-tags {
  font-size: 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
  padding: 0 0 15px;
}
.template-one-news .news-tags a {
  font-size: 12px;
  display: inline-block;
  padding: 4px 12px;
  background-color: #f2f2f2;
  border: 1px solid #e6e6e6;
  color: #555555;
  margin-right: 3px;
  text-decoration: none;
  border-radius: 3px;
}
.template-one-news .news-tags a:hover {
  color: #00b0ee;
}
.news-list-pagination {
  display: block !important;
  width: 100% !important;
  margin-top: 30px;
  border-top: 1px solid #ebebeb;
  padding: 30px 0 0;
}
.news-list-pagination > span,
.news-list-pagination > a {
  font-size: 12px;
  font-weight: normal;
  display: inline-block;
  padding: 7px 14px;
  background-color: #f7f7f7;
  border: 1px solid #ebebeb;
  color: #555555;
  margin-right: 1px;
  text-decoration: none;
  border-radius: 3px;
}
.news-list-pagination > span:hover,
.news-list-pagination > a:hover {
  background-color: #f2f2f2;
}
.news-list-pagination > span.current,
.news-list-pagination > a.current {
  color: #FFF;
  background-color: #00b0ee;
  border-color: #00a1da;
}
.news-list-pagination > span.disabled,
.news-list-pagination > a.disabled {
  color: #888888;
}
.search-results li {
  margin-bottom: 30px;
}
.search-results .page-teaser-image {
  overflow: hidden;
  float: left;
  margin-right: 2%;
  width: 150px;
}
@media (min-width: 801px) {
  body .mobile-bar,
  body .mobile-menu {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  body {
    padding-top: 56px;
  }
  body[data-menu-open],
  body[data-overlay],
  body[data-dropdown-open] {
    overflow: hidden;
  }
  body[data-menu-open]::after,
  body[data-overlay]::after,
  body[data-dropdown-open]::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 91;
  }
  [data-menu-open]::after,
  [data-overlay]::after {
    background: rgba(0, 0, 0, 0.5);
  }
}
.mobile-bar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 90;
  font-family: "Roboto", Tahoma, Arial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.mobile-bar::after {
  content: "";
  display: table;
  clear: both;
}
.mobile-bar.top {
  top: 0;
  line-height: 56px;
  color: #FFF;
  background: #00b0ee;
}
.mobile-bar.top .btn.icon {
  width: 56px;
}
@media only print {
  .mobile-bar {
    display: none;
  }
}
.mobile-bar .title {
  font-size: 20px;
  padding: 0 calc(72px -  56px );
  margin-right: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mobile-bar .btn {
  line-height: inherit;
  width: 56px;
  color: inherit;
  border: none;
  -webkit-box-flex: 0 0 56px;
  -webkit-flex: 0 0 56px 0 auto;
  -ms-flex: 0 0 56px 0 auto;
  flex: 0 0 56px 0 auto;
  border-radius: 0 0 0 0;
  color: #ffffff;
  border-color: #00b0ee;
  background-color: #00b0ee;
}
.mobile-bar .btn:hover,
.mobile-bar .btn:active,
.mobile-bar .btn.active {
  color: #ffffff;
  border-color: #008abb;
  background-color: #008abb;
}
.mobile-bar .btn::before {
  margin: initial;
  font-size: 18px;
}
.tabs {
  display: none;
}
.menu-btn:hover,
.menu-btn.active {
  background: rgba(0, 0, 0, 0.1);
}
.sub-menu-btn {
  width: 48px;
  text-align: center;
  color: #FFF;
  font-size: 1.25em;
  position: absolute;
  right: 0;
  top: 0;
}
.sub-menu-btn::before {
  content: "\e0ac";
  font-family: flexkit-icons;
  color: #bbbbbb;
}
.sub-menu-btn:hover::before,
.sub-menu-btn.active::before {
  content: "\e0aa";
}
@media only screen and (max-width: 800px) {
  .mobile-menu {
    z-index: 92;
    transition: all 0.3s;
  }
  .mobile-menu.top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .mobile-menu.bottom {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
  .mobile-menu.left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .mobile-menu.right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  [data-menu-open] .mobile-menu {
    box-shadow: 0 0 30px #555555;
  }
  [data-menu-open="left"] .mobile-menu.left,
  [data-menu-open="right"] .mobile-menu.right {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  [data-menu-open="top"] .mobile-menu.top,
  [data-menu-open="bottom"] .mobile-menu.bottom {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .menu-btn.active {
    background: rgba(0, 0, 0, 0.05);
  }
  .menu-btn::before {
    width: 16px;
  }
  .menu-btn.left {
    padding-left: 0;
  }
  .menu-btn.left.active::before {
    margin-left: -11.2px;
    margin-right: 16.8px;
  }
  .menu-btn.right {
    padding-right: 0;
  }
  .menu-btn.right.active::before {
    margin-right: -11.2px;
    margin-left: 16.8px;
  }
}
.m-menu {
  width: 260px;
  position: fixed;
  z-index: 92;
  overflow: auto;
  background: #ffffff;
  display: none;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.m-menu:not(.dropdown) {
  top: 0;
  bottom: 0;
}
.m-menu:not(.dropdown).left {
  left: 0;
}
.m-menu:not(.dropdown).right {
  right: 0;
}
.m-menu.dropdown {
  width: 250px;
  overflow: auto;
  max-height: 70%;
}
.m-menu.dropdown.top {
  top: 10px;
  bottom: auto;
}
.m-menu.dropdown.bottom {
  bottom: 10px;
  top: auto;
}
.m-menu.dropdown.right {
  right: 10px;
  left: auto;
}
.m-menu.dropdown.left {
  left: 10px;
  right: auto;
}
.m-menu.open {
  display: block;
}
.m-menu .menu-top-header {
  height: 56px;
  border-bottom: 1px solid #f2f2f2;
}
.m-menu ul,
.dropdown-menu ul,
.mobile-menu.dropdown ul {
  position: relative;
}
.m-menu ul ul,
.dropdown-menu ul ul,
.mobile-menu.dropdown ul ul {
  display: none;
  background: rgba(0, 0, 0, 0.03);
}
.m-menu ul ul a,
.dropdown-menu ul ul a,
.mobile-menu.dropdown ul ul a {
  padding-left: 48px;
}
.m-menu ul.open,
.dropdown-menu ul.open,
.mobile-menu.dropdown ul.open {
  display: block !important;
}
.m-menu li,
.dropdown-menu li,
.mobile-menu.dropdown li {
  float: none;
  border-bottom: 1px solid #f7f7f7;
  line-height: 48px;
  font-weight: bold;
  position: relative;
}
.m-menu li a,
.dropdown-menu li a,
.mobile-menu.dropdown li a {
  padding: 0 16px 0 28px;
  display: block;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.m-menu li a:hover,
.m-menu li a.current,
.dropdown-menu li a:hover,
.dropdown-menu li a.current,
.mobile-menu.dropdown li a:hover,
.mobile-menu.dropdown li a.current {
  background: #f2f2f2;
  color: #00b0ee;
}
.m-menu li:hover,
.dropdown-menu li:hover,
.mobile-menu.dropdown li:hover {
  background: transparent;
  color: inherit;
}
.m-menu li:hover ul,
.dropdown-menu li:hover ul,
.mobile-menu.dropdown li:hover ul {
  display: none;
}
.m-menu li li,
.dropdown-menu li li,
.mobile-menu.dropdown li li {
  border: none;
}
.m-menu li li + li,
.dropdown-menu li li + li,
.mobile-menu.dropdown li li + li {
  border-top: 1px solid #f2f2f2;
}
@media only screen and (max-width: 800px) {
  .dropdown-menu-mobile {
    display: none;
  }
}
.dropdown-menu,
.mobile-menu.dropdown,
[data-dropdown-open] .dropdown-menu-mobile {
  background: #fff !important;
  color: #555555 !important;
  position: absolute;
  z-index: 92 !important;
  width: 250px;
  display: none;
  margin: 0 !important;
  overflow: auto;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.dropdown-menu.open,
.mobile-menu.dropdown.open {
  display: block;
}
.dropdown-menu.top-right,
.mobile-menu.dropdown.top-right,
.dropdown-menu.bottom-right,
.mobile-menu.dropdown.bottom-right {
  right: 0;
  left: auto;
}
.dropdown-menu.top-left,
.mobile-menu.dropdown.top-left,
.dropdown-menu.bottom-left,
.mobile-menu.dropdown.bottom-left {
  left: 0;
  right: auto;
}
.dropdown-menu.top,
.mobile-menu.dropdown.top,
.dropdown-menu.top-left,
.mobile-menu.dropdown.top-left,
.dropdown-menu.top-right,
.mobile-menu.dropdown.top-right {
  top: auto;
  bottom: 100%;
}
.dropdown-menu.top.inner,
.mobile-menu.dropdown.top.inner,
.dropdown-menu.top-left.inner,
.mobile-menu.dropdown.top-left.inner,
.dropdown-menu.top-right.inner,
.mobile-menu.dropdown.top-right.inner {
  top: 0;
  bottom: auto;
}
.dropdown-menu.bottom,
.mobile-menu.dropdown.bottom,
.dropdown-menu.bottom-left,
.mobile-menu.dropdown.bottom-left,
.dropdown-menu.bottom-right,
.mobile-menu.dropdown.bottom-right {
  top: 100%;
  bottom: auto;
}
.dropdown-menu.bottom.inner,
.mobile-menu.dropdown.bottom.inner,
.dropdown-menu.bottom-left.inner,
.mobile-menu.dropdown.bottom-left.inner,
.dropdown-menu.bottom-right.inner,
.mobile-menu.dropdown.bottom-right.inner {
  top: auto;
  bottom: 0;
}
.dropdown-menu.left-top,
.mobile-menu.dropdown.left-top,
.dropdown-menu.right-top,
.mobile-menu.dropdown.right-top {
  top: 0;
  bottom: auto;
}
.dropdown-menu.left-bottom,
.mobile-menu.dropdown.left-bottom,
.dropdown-menu.right-bottom,
.mobile-menu.dropdown.right-bottom {
  top: auto;
  bottom: 0;
}
.dropdown-menu.left,
.mobile-menu.dropdown.left,
.dropdown-menu.left-top,
.mobile-menu.dropdown.left-top,
.dropdown-menu.left-bottom,
.mobile-menu.dropdown.left-bottom {
  left: auto;
  right: 100%;
}
.dropdown-menu.left.inner,
.mobile-menu.dropdown.left.inner,
.dropdown-menu.left-top.inner,
.mobile-menu.dropdown.left-top.inner,
.dropdown-menu.left-bottom.inner,
.mobile-menu.dropdown.left-bottom.inner {
  left: 0;
  right: auto;
}
.dropdown-menu.right,
.mobile-menu.dropdown.right,
.dropdown-menu.right-top,
.mobile-menu.dropdown.right-top,
.dropdown-menu.right-bottom,
.mobile-menu.dropdown.right-bottom {
  left: 100%;
  right: auto;
}
.dropdown-menu.right.inner,
.mobile-menu.dropdown.right.inner,
.dropdown-menu.right-top.inner,
.mobile-menu.dropdown.right-top.inner,
.dropdown-menu.right-bottom.inner,
.mobile-menu.dropdown.right-bottom.inner {
  right: 0;
  left: auto;
}
[data-dropdown-open] .dropdown-menu-mobile {
  position: fixed;
  max-width: 90%;
  max-height: 70%;
}
[data-dropdown-open] .dropdown-menu-mobile.open {
  display: block;
}
[data-dropdown-open] .dropdown-menu-mobile.centered {
  top: 50%;
  left: 0;
  right: 0;
  margin: auto !important;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
[data-dropdown-open] .dropdown-menu-mobile.center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto !important;
}
[data-dropdown-open] .dropdown-menu-mobile.top {
  top: 10px;
  bottom: auto;
}
[data-dropdown-open] .dropdown-menu-mobile.bottom {
  bottom: 10px;
  top: auto;
}
[data-dropdown-open] .dropdown-menu-mobile.right {
  right: 10px;
  left: auto;
}
[data-dropdown-open] .dropdown-menu-mobile.left {
  left: 10px;
  right: auto;
}
