
<div class="line-footer">
    <footer class="container">
        <div class="grid_4 m-grid_4 m-alpha m-omega t-grid_4 t-prefix_1 t-suffix_1 block-footer-form footer-box pr-grid">
            <h3>{$header:footer1:static}</h3>
            {$content:footer1:static}
        </div>

        <div class="grid_5  t-grid_4 t-prefix_1 t-suffix_1 footer-box pl-grid pr-grid">
            <h3>{$header:footer2:static}</h3>
            {$content:footer2:static}

            <div class="footer-img fl-left">{$imageonly:footer-image_1:original:static}</div>
            <div class="footer-img fl-left ml-grid">{$imageonly:footer-image_2:original:static}</div>
        </div>

        <div class="grid_3 footer-box pl-grid">
            <ul class="list-unstyled block-footer-phones">
                <li class="item m-grid_4 t-grid_3">
                    <a href="tel:{$plugin:widcard:BizTelephone:notag}" class="value">{$plugin:widcard:BizTelephone:notag}</a>
                    <span class="title">{$plugin:widcard:BizCity:notag}</span>
                </li>
                <li class="item m-grid_4 t-grid_3">
                    <a href="tel:{$header:BizTelephone:static:readonly}" class="value">{$header:BizTelephone:static}</a>
                    <span class="title">{$header:BizCity:static}</span>
                </li>
            </ul>
            <div class="text-center block-footer-socials">
                {$template:_social links}
            </div>
        </div>
    </footer>


    <div class="line-footer-wrap-flat d-visible">
        <div class="container">
            <!-- Flat Menu -->
            <nav id="flat-menu" class="grid_8 prefix_4 text-right">
                {$menu:main:_main menu}
            </nav>
        </div>
    </div>
</div>