
<header class="container _big">
    <div class="grid_6 logo m-grid_4">
        <a href="{$website:url}" title="{$plugin:widcard:BizOrgName:notag}" itemprop="url">
            <img src="{$plugin:widcard:bizLogo:url}" alt="{$page:h1}" height="90" itemprop="logo">
        </a>
    </div>
    <ul class="grid_4 m-grid_4 m-alpha m-omega list-unstyled block-header-phones">
        <li class="item">
            <a href="tel:{$plugin:widcard:BizTelephone:notag}" class="value">{$plugin:widcard:BizTelephone:notag}</a>
            <span class="title">{$plugin:widcard:BizCity:notag}</span>
        </li>
        <li class="item">
            <a href="tel:{$header:BizTelephone:static:readonly}" class="value">{$header:BizTelephone:static}</a>
            <span class="title">{$header:BizCity:static}</span>
        </li>
    </ul>
    <div class="grid_2 block-header-socials">

    </div>
</header>

<div class="line-nav">
    <div class="container _big">
        <!-- Main Menu -->
        <nav id="main-menu" class="grid_10 d-visible" role="navigation">
            {$menu:main:_main menu}
        </nav>
        <div class="grid_2 block-nav-search">
            {$search:form}
        </div>
    </div>
</div>