<meta charset="utf-8">
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
<title>{$page:title}</title>
<meta name="keywords" content="{$meta:keywords}">
<meta name="description" content="{$meta:description}">
<meta name="author" content="FlexKit">

<!-- FB meta from the widget -->
{$fbmeta}

<!-- Mobile Specific Metas -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="480">
<!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="{$page:title}">

<!-- Favicons -->

<link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-touch-icon-60x60.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
<link rel="manifest" href="images/favicon/site.webmanifest">
<link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#ffffff">

<!-- WEB FONTS -->
<!-- Change the symbol '|' to '%7C' and add 'media="all"' for the W3C validator and put: rel="preload" as="font"(sometimes not working) -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300,400,500" rel="stylesheet">

<!-- CSS -->
{concatcss}
<link href="css/reset.css" rel="stylesheet" media="all">
<link href="css/content.css" rel="stylesheet" media="all">
<link href="css/nav.css" rel="stylesheet" media="all">
<link href="css/style.css" rel="stylesheet" media="all">
<!-- Shopping css -->
<link href="css/store.css" rel="stylesheet" media="all">
<!-- Additional css -->
<link href="css/flexkit.css" rel="stylesheet" media="all">
{/concatcss}

<!-- HTML5shiv and selectivizr.js IE support of HTML5 elements and CSS3 pseudo-classes, attribute selectors -->
<!--[if lte IE 9]><script src="js/system/ie-pack.min.js"></script><![endif]-->
<!-- flexkit 1.7.1 -->