<li class="news-item">
    {$news:actions}
    <a class="news-item-image" href="{$news:url}">
        <img src="{$news:preview}" alt="{$news:title:inline}"/>
    </a>
    <time class="news-item-date" datetime="{$news:date:Y-m-d}">{$news:date: M d, Y}</time>
    <a class="news-item-title" href="{$news:url}">{$news:title}</a>
    <p class="news-item-description">{$news:teaser}</p>
    <!--<p class="news-item-tags small cl-both text-right">{$news:tags}</p>-->
</li>