<!-- SCRIPTS ZONE -->
<!--<script src="js/scripts.min.js"></script>-->
<script src="js/system/flexkit.min.js"></script>

<script>
    document.querySelector('#search-form input[type="text"]').setAttribute('placeholder', 'Search...');

    $(function () {
        $(".faq-tabs").tabs();
    });
</script>
