<a class=" social icon gplus icon-gplus" target="_blank" href="{$plugin:widcard:BizGplusAccount:notag}"></a>
<a class=" social icon facebook icon-facebook" target="_blank" href="{$plugin:widcard:BizFbAccount:notag}"></a>
<a class=" social icon twitter icon-twitter" target="_blank" href="{$plugin:widcard:BizTwitterAccount:notag}"></a>
<a class=" social icon linkedin icon-linkedin" target="_blank" href="{$plugin:widcard:BizLinkedInAccount:notag}"></a>
<!--<a class="btn social icon rss icon-feed" target="_blank" href="{$plugin:widcard:BizRssChannel:notag}">RSS</a>-->
<!--<a class="btn social icon youtube icon-youtube" target="_blank" href="{$plugin:widcard:BizYoutubeChannel:notag}">YouTube</a>-->