@responsive-size-tablet-over : (@responsive-size-tablet + 1);
@media only screen and (min-width : @responsive-size-tablet-over) {
    .d-hide, .t-visible, .m-visible {
        display : none !important;
    }
}

@responsive-size-mobile-over : (@responsive-size-mobile + 1);
@media only screen and (min-width : @responsive-size-mobile-over) and (max-width : @responsive-size-tablet) {
    .t-hide, .d-visible, .m-visible {
        display : none !important;
    }
}

@media only screen and (max-width : @responsive-size-mobile) {
    .m-hide, .d-visible, .t-visible {
        display : none !important;
    }
}

//================================================\\
//************** Divece orientation **************\\
//================================================\\
@media only screen and (orientation : portrait) {
}

@media only screen and (orientation : landscape) {
}

//================================================\\
//*************** Divece screen size *************\\
//================================================\\

//***** Bigger than Desktop site size *****\\
@responsive-size-desktop-above : (@responsive-size-desktop + 1);
@media only screen and (min-width : @responsive-size-desktop-above) {
}

//***** Tablet Portrait *****\\
@media only screen and (max-width : @responsive-size-desktop) {

    .cycle-slideshow {
        &.slider-wrap .slide {
            width : 100%;
            left  : 0 !important;

            img {
                width : 100%;
            }
        }
        .under-slider {
            width    : auto;
            position : relative;
            .title {
                font-size : 1.75em;
            }
        }

        .slide-description {
            //display : none;
            .flex-justify-content(flex-start);
            top : 10%;
        }
    }
}

//***** All Mobile Sizes *****\\
@media only screen and (max-width : @responsive-size-tablet) {

    main {
        padding : 30px 0;
    }

    header {
        .logo {
            margin-top : 30px;
            text-align : center;
            a {
                max-width : 300px;
            }
        }
    }

    aside._gray-bg {
        margin-bottom : 0;
        &._blue-bg-title {
            margin-top : 35px;
        }
    }

    .template-contact main {
        &::before {
            content : none;
        }
    }

    .block-contact-info {

        h2 {
            margin-bottom : 15px;
            margin-top    : 40px !important;
            &.white {
                color : @text-color;
            }
        }

        form#contact {
            width     : 100%;
            max-width : 400px;
            input, select, textarea {
                border : 1px solid @gray-lighter;
            }
        }

    }

    .pd-space-t {
        padding-top : 30px;
    }

    .pd-space-b {
        padding-bottom : 30px;
    }

    .list-contact-info {
        .item {
            margin-top    : 15px;
            margin-bottom : 15px;
        }
    }

    .line-testimonials {
        height : auto;
        margin : 0 0 50px;
        .user {
            display : none;
        }
        .testimonials-wrap {
            top              : inherit;
            border           : none;
            max-height       : initial;
            max-width        : initial;
            width            : initial;
            height           : initial;
            background-color : #FFFFFF;
            font-size        : 14px;
            .box-shadow(0 0 25px rgba(0, 0, 0, 0.1));
            .border-radius(0 0 0 0);

            .slide {
                padding : 25px;
            }

            .action-button {
                display : none;
            }
        }
    }

    .block {
        &-header-phones,
        &-footer-phones {
            .item {
                margin-top    : 10px;
                margin-bottom : 10px;
                font-size     : 13px;
            }
        }
        &-header-phones {
            margin : 20px 0;
        }
        &-footer-form {
            margin-bottom : 0;
        }

        &-news-list {
            .news-item {
                padding : 15px 30px;
            }
        }
    }

}

//***** Just Mobile Landscape *****\\
@media only screen and (max-width : @responsive-size-tablet) and (orientation : landscape) {

}

//***** Just Mobile Portrait *****\\
@media only screen and (max-width : @responsive-size-mobile) {
    .cycle-slideshow {

        .slide-description {
            //display : none;
            .flex-justify-content(flex-start);
            top : 0;
            h2 {
                font-size : 1.75em;
            }
        }
    }

    #search-form {
        input {
            background-color : darken(@body-bg, 5%);
            border-color     : darken(@body-bg, 5%);
            width            : 60%;
        }
        button {
            .border-radius(0 0 0 0);
            width : 40%;
        }
    }

    .line-nav {
        clear : both;
    }

    aside._gray-bg._blue-bg-title {
        margin-top : 0;
    }

    .captcha {
        &, img {
            width : 100%;
        }
    }

    .btn-bottom {
        padding-bottom : 50px;
        .fb_contact-us {
            width : 100%;
        }
    }

    .main-fa {
        text-align : center;

        .page-teaser-image {
            margin : auto;
        }
    }

    img[style*="float: left"], img[style*="float:left"], img[style*="float: right"], img[style*="float:right"] {
        float   : none !important;
        display : block;
        margin  : 0 auto 1em;
    }

    form [type="submit"], form [type="button"] {
        width        : 100%;
        margin-right : 0;
        margin-left  : 0;
    }
}

//***** Just Small Phone *****\\
@media only screen and (max-width : @responsive-size-phone) {
}

//================================================\\
//************** Divece pixel ratio **************\\
//================================================\\
@media screen and (-webkit-min-device-pixel-ratio : 1.3) {
}

@media screen and (-webkit-min-device-pixel-ratio : 1.5) {
}

@media screen and (-webkit-min-device-pixel-ratio : 2) {
}

@import "../mobile/loader";