.news-item when (@widget-news-list) {

    .news-item-image {
        img {
        }
    }

    .news-item-title {
    }

    .newslog-admin-actions {
        text-align : right;
        a {
        }
    }

    //.news-item-date {
    //    color : lighten(@text-color, 15%);
    //
    //    &::before {
    //        top       : 2px;
    //        font-size : 16px;
    //        color     : @primary-bg;
    //    }
    //}

    .news-item-description {
    }

    .news-item-tags {

        a {
            .link-color(@gray);

            & + a {
                margin-left : 0.5em;
            }

            &::before {
                color        : @gray;
                margin-right : 0.5em;
            }
        }
    }

    .newslog-tag-filter {
        &::before {
            font-family : @font-family-icons;
            content     : "\e023";
        }
    }

    .block-news-list & {

        &:not(.three) {
            .grid-elements(4; @grid-margin-width);
        }

        .news-item-image {
            display : block;
            margin  : 0;
            img {
                width : 100%;
            }

        }
        .news-item-date {
            display : block;
            margin  : 15px 0 5px;
            color   : @gray-light;
        }
        .news-item-title {
            font-size       : 1.15em;
            text-decoration : none;
            text-transform  : uppercase;
            display         : block;
            .text-overflow();
            .link-color(@gray-darker; @brand-primary);
            font-weight     : bold;

        }
        .news-item-description {
            color    : @gray;
            height   : 110px;
            overflow : hidden;
        }

        .news-tags {
            font-size     : 0;
            margin-bottom : 10px;
            border-bottom : 1px solid @gray-lighter;
            padding       : 10px 0 10px;

            a {
                font-size        : 12px;
                display          : inline-block;
                padding          : 4px 12px;
                background-color : darken(@body-bg, 5%);
                border           : 1px solid darken(@body-bg, 10%);
                color            : @gray-dark;
                margin-right     : 3px;
                text-decoration  : none;
                .border-radius(3px);
                &:hover {
                    color : @brand-primary;
                }
                &::before {
                    content : none;
                }
            }
        }

        &.three {
            .grid-elements(3; @grid-margin-width);
            margin-bottom : 40px;
            .news-item-image {
                height     : 14vw;
                min-height : 10vw;
                overflow   : hidden;
            }
        }
    }

    .block-latest-news & {
        overflow      : hidden;
        padding       : 2em 0;
        border-bottom : 1px solid darken(@body-bg, 10%);

        .news-item-image {
            display : block;
            width   : 40%;
            float   : left;
            margin  : 0 2% 0 0;
            img {
                width : 100%;
            }

        }
        .news-item-date {
            display : block;
            margin  : 10px 0 0;
            color   : @gray-light;
        }
        .news-item-title {
            font-size       : 1.05em;
            text-decoration : none;
            display         : block;
            .link-color(@gray-darker; @brand-primary);
            font-weight     : bold;
            max-height      : 75px;
            overflow        : hidden;
            line-height     : 1.45em;

        }
    }

    .block-latest-news._first-big-img & {
        &:first-of-type {
            .news-item-image {
                display : block;
                width   : 100%;
                float   : none;
                margin  : 0 0 2% 0;
                img {
                    width : 100%;
                }
            }
        }
    }
}

.template-one-news {
    .news-date {
        padding : 5px 0;
        color   : @gray-light;
        display : block;
    }

    .news-tags {
        font-size     : 0;
        margin-bottom : 15px;
        border-bottom : 1px solid @gray-lighter;
        padding       : 0 0 15px;
        a {
            font-size        : 12px;
            display          : inline-block;
            padding          : 4px 12px;
            background-color : darken(@body-bg, 5%);
            border           : 1px solid darken(@body-bg, 10%);
            color            : @gray-dark;
            margin-right     : 3px;
            text-decoration  : none;
            .border-radius(3px);
            &:hover {
                color : @brand-primary;
            }
        }
    }
}

.news-list-pagination {
    display    : block !important;
    width      : 100% !important;
    margin-top : 30px;
    border-top : 1px solid darken(@body-bg, 8%);
    padding    : 30px 0 0;

    & > span, & > a {
        font-size        : 12px;
        font-weight      : normal;
        display          : inline-block;
        padding          : 7px 14px;
        background-color : darken(@body-bg, 3%);
        border           : 1px solid darken(@body-bg, 8%);
        color            : @gray-dark;
        margin-right     : 1px;
        text-decoration  : none;
        .border-radius(3px);

        &:hover {
            background-color : darken(@body-bg, 5%);
        }
        &.current {
            color            : @primary-color;
            background-color : @brand-primary;
            border-color     : darken(@brand-primary, 4%);
        }
        &.disabled {
            color : @gray;
        }
    }
}