.rotator when (@widget-rotator) {
    position   : relative;
    overflow   : hidden;
    background : #FFFFFF;

    // -- Description
    .slide-description {
        padding : @padding-large-vertical @padding-large-horizontal;
        color   : #FFFFFF;
        .rgba(#000000; 0.5);
    }

    img {
        width : 100%;

        & ~ .slide-description {
            position : absolute;
            right    : 0;
            bottom   : 0;
            left     : 0;
        }
    }
}

.cycle-slideshow when (@widget-rotator) {

    &.slider-wrap {
        position : relative;
        overflow : hidden;

        .slide {
            left  : 50% !important;
            width : 50%;

            img {
                width : 100%;
            }
        }
    }

    .slide {
        position   : absolute;
        top        : 0;
        left       : 0;
        width      : 100%;
        height     : 100%;
        list-style : none;

        & > a.generator-links:not(:first-child), & > a.tpopup:not(:first-child) {
            position : absolute;
            top      : 10px;
            left     : 10px;
        }
    }

    .under-slider {
        background-color : @brand-primary;
        color            : @primary-color;
        height           : 100%;
        position         : absolute;
        top              : 0;
        left             : 0;
        //right            : 0;
        width            : 50%;
        bottom           : 0;
        padding          : 20px;
        .flexbox(column; nowrap; center);
        .flex-justify-content(center);

        .title {
            margin      : 0 0 .35em;
            //font-size   : 3.5em;
            font-size   : 3.5em;
            line-height : 1;
        }

        * {
            color : @primary-color;

        }

        .btn {
            margin-top : 1.5em;
            padding    : 2px 40px;
            font-size  : 1.15em;
        }

        @media only screen and (max-width : 1400px) {
            & {
                .title {
                    font-size : 1.75em;
                }
                .btn {
                    margin-top : 1em;
                    font-size  : 1em;
                }
            }
        }
    }

    .slide-description {
        //background-color : @brand-primary;
        color    : @primary-color;
        height   : 100%;
        position : absolute;
        top      : 0;
        left     : 0;
        right    : 0;
        width    : 100%;
        bottom   : 0;
        .flexbox(column; nowrap; center);
        .flex-justify-content(center);

        .outline {
            .button-color(@primary-color; transparent; @primary-color);
        }
    }

    // -- Pager
    .cycle-pager {
        position    : absolute;
        bottom      : 10px;
        right       : 10px;
        z-index     : 20;
        text-align  : center;
        font-size   : 0;
        line-height : 0;

        > * {
            .inline-block;
            cursor     : pointer;
            margin     : 0 3px;
            color      : @primary-color;
            background : #FFFFFF;
            //.border-radius(14px);
            height     : 6px;
            width      : 30px;
            //.icon-size(10px; true);

            &:hover {
                background : darken(@primary-bg, 10%);
            }

            &.cycle-pager-active {
                cursor     : default;
                color      : @primary-color;
                background : @primary-bg;
            }
        }
    }

    [class*="cycle-"].action-button {
        //background : @primary-bg;
        color      : @gray-light;
        position   : absolute;
        top        : 50%;
        z-index    : 20;
        cursor     : pointer;
        margin-top : -@slider-button-size / 2 - @padding-large-vertical;
        //padding    : @padding-large-vertical;
        .box-sizing(content-box);
        .icon-size(@slider-button-size; true);
        .transition();

        &:hover {
            //background : darken(@primary-bg, 10%);
            color : @brand-primary;
        }

        &::before {
            font-family : @font-family-icons;
        }

        &.cycle-prev {
            left : -150px;

            &::before {
                content : "\e0a9";
            }
        }

        &.cycle-next {
            right : -150px;

            &::before {
                content : "\e0a7";
            }
        }
    }

    &:hover .action-button {
        //&.cycle-prev {
        //    left : 10px;
        //}
        //
        //&.cycle-next {
        //    right : 10px;
        //}

    }
}