//	Search form
//==================================================
#search-form when (@widget-search) {
    p {
        float  : left;
        width  : 30%;
        margin : 0;

        &:first-child {
            width : 70%;
        }

    }

    input {
    }

    [type="text"] {
        border-color : @brand-primary;
    }

    [type="submit"] {
        width         : 100%;
        padding-left  : 0;
        padding-right : 0;
        margin        : 0;
    }

    .block-nav-search & {
        margin : 16px;
        input {
            background-color : transparent;
            border-color     : transparent;
            color            : @primary-color;
            width            : 80%;

            &::placeholder {
                color : @gray;
            }
        }
        button {
            width       : 20%;
            font-size   : 0;
            height      : 53px;
            line-height : 53px;
            .button-color(@brand-primary; transparent; transparent);
            &::before {
                font-size   : @font-size-base;
                content     : "\e068";
                font-family : "flexkit-icons";
            }
        }
    }

    .template-404 main & {

        input {
            width            : 68%;
            margin-right     : 2%;
            background-color : darken(@body-bg, 5%);
            border-color     : darken(@body-bg, 5%);
        }
        button {
            width          : 30%;
            .button-color(@primary-color; @brand-primary; @brand-primary);
            text-transform : uppercase;
        }

    }
}